{{>header}}
{{!-- <h1>{{title}}</h1> --}}

<ul>
  <div>id: {{id}}</div>
  <div>name: {{name}} </div>
  <div>price: {{price}} </div>
  <div>description: {{description}} </div>
  <div>quantity: {{quantity}}</div>
</ul>

    

{{>footer}}